Repository tak-st/majang-yakitori, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tak-st, @Toyoda9, @nakafuji-m, @M-Reiji, @kamatamaudon3, @ecccomp123

build.gradleを更新
  build.gradle
Owners: @tak-st

テスト処理が100%ではないため100%に修正
  src/main/java/ckn/yakitori/share/yaku/bakaze.java
  src/test/java/ckn/yakitori/share/yaku/bakazeTest.java
  src/test/java/ckn/yakitori/share/yaku/chunTest.java
  src/test/java/ckn/yakitori/share/yaku/hakuTest.java
  src/test/java/ckn/yakitori/share/yaku/hatsuTest.java
  src/test/java/ckn/yakitori/share/yaku/jikazeTest.java
Owners: @M-Reiji, @tak-st

終了処理を変更
  src/main/java/ckn/yakitori/server/controller/serverController.java
  src/main/java/module-info.java.bak
Owners: @tak-st

レイアウトちょっとできた 手牌もちょっとでた
  .idea/misc.xml
  src/main/java/ckn/yakitori/client/client.java
  src/main/java/ckn/yakitori/client/controller/practiceController.java
  src/main/java/module-info.java
  src/main/resources/practice.fxml
Owners: @tak-st, @Toyoda9

終了処理を変更
  src/main/java/ckn/yakitori/server/controller/serverController.java
Owners: @tak-st

designTypeで牌の種類を管理するようにした
  src/main/java/ckn/yakitori/share/tile/designType.java
Owners: @tak-st

刻子槓子両方とも取得するメソッドを追加
  src/main/java/ckn/yakitori/share/score/statusGroup.java
Owners: @tak-st

各ラウンド毎の山の作成の処理、手配の処理、王配作成の処理を作成しました。
  src/main/java/ckn/yakitori/share/round.java
  src/test/java/ckn/yakitori/share/roundTest.java
Owners: @tak-st

getImageメソッドを追加。
  src/main/java/ckn/yakitori/client/controller/practiceController.java
  src/main/java/ckn/yakitori/share/tile/tile.java
  src/test/java/ckn/yakitori/share/tile/tileTest.java
Owners: @tak-st

javadocを追加
  src/main/java/ckn/yakitori/share/score/statusGroup.java
Owners: @tak-st

現在誰の順目かを返す関数を作成しました。
  src/main/java/ckn/yakitori/share/round.java
  src/test/java/ckn/yakitori/share/roundTest.java
Owners: @tak-st

コメントを追記
  src/main/java/ckn/yakitori/share/round.java
Owners: @tak-st

switch文の処理を変更
  src/main/java/ckn/yakitori/share/round.java
Owners: @tak-st

再度switch文の処理とテストを変更
  src/main/java/ckn/yakitori/share/round.java
  src/test/java/ckn/yakitori/share/roundTest.java
Owners: @tak-st

testfxが使用できるようにプロパティなどを修正
  .circleci/config.yml
  build.gradle
  src/main/java/ckn/yakitori/server/controller/serverController.java
  src/main/java/module-info.java
  src/test/java/ckn/yakitori/client/networkTest.java
Owners: @tak-st

断么の判定処理の追加
  src/main/java/ckn/yakitori/share/score/statusGroup.java
  src/main/java/ckn/yakitori/share/yaku/tanyao.java
  src/test/java/ckn/yakitori/share/yaku/tanyaoTest.java
Owners: @tak-st, @M-Reiji

面前清自模和の判定処理の追加
  src/main/java/ckn/yakitori/share/yaku/tsumo.java
  src/test/java/ckn/yakitori/share/yaku/tsumoTest.java
Owners: @M-Reiji, @tak-st

断么の処理をの一部修正
  src/main/java/ckn/yakitori/share/yaku/tanyao.java
  src/test/java/ckn/yakitori/share/yaku/tanyaoTest.java
Owners: @M-Reiji, @tak-st

いままでの役を判定するように追加　翻を追加する処理を別メソッドにした
  src/main/java/ckn/yakitori/share/score/scoreCalculation.java
Owners: @tak-st

isOpenフィールドはフィールドとして保持する意味がまったくないので削除 メソッドで自動判定して結果を返すように変更
  src/main/java/ckn/yakitori/share/score/statusGroup.java
Owners: @tak-st

鳴き時のチェックにポンではなくカンを使用するように変更（都合が良いので）手牌が上がれない時、上がれないと表示するように変更
  src/test/java/ckn/yakitori/share/yaku/tanyaoTest.java
Owners: @tak-st

無意味なsetIsOpenを消去 addAllを使用するように変更
  src/test/java/ckn/yakitori/share/yaku/tsumoTest.java
Owners: @tak-st

無意味なsetIsOpenを消去 addAllを使用するように変更
  src/test/java/ckn/yakitori/share/yaku/tsumoTest.java
Owners: @tak-st

鳴き時のチェックにポンではなくカンを使用するように変更（都合が良いので）手牌が上がれない時、上がれないと表示するように変更
  src/test/java/ckn/yakitori/share/yaku/tanyaoTest.java
Owners: @tak-st

isOpenフィールドはフィールドとして保持する意味がまったくないので削除 メソッドで自動判定して結果を返すように変更
  src/main/java/ckn/yakitori/share/score/statusGroup.java
Owners: @tak-st

いままでの役を判定するように追加　翻を追加する処理を別メソッドにした
  src/main/java/ckn/yakitori/share/score/scoreCalculation.java
Owners: @tak-st

平和がないので削除　断么の通らないテストを削除
  src/main/java/ckn/yakitori/share/score/scoreCalculation.java
  src/test/java/ckn/yakitori/share/yaku/tanyaoTest.java
Owners: @tak-st

StatusGroupに面子分割の結果を5種のリストに一括でセットする処理を追加、それに伴い平和の処理を併せて書き換えました
  src/main/java/ckn/yakitori/share/score/statusGroup.java
  src/main/java/ckn/yakitori/share/yaku/pinfu.java
  src/test/java/ckn/yakitori/share/yaku/pinfuTest.java
Owners: @tak-st, @M-Reiji

混一色の処理を追加
  src/main/java/ckn/yakitori/share/yaku/honitsu.java
  src/test/java/ckn/yakitori/share/yaku/honitsuTest.java
Owners: @M-Reiji, @tak-st

一発の役判定処理の追加
  src/main/java/ckn/yakitori/share/score/statusGroup.java
  src/main/java/ckn/yakitori/share/yaku/ippatsu.java
  src/test/java/ckn/yakitori/share/yaku/ippatsuTest.java
Owners: @tak-st, @M-Reiji

一盃口の役判定処理を追加
  src/main/java/ckn/yakitori/share/yaku/iipeiko.java
  src/test/java/ckn/yakitori/share/yaku/iipeikoTest.java
Owners: @M-Reiji, @tak-st

対々和の役判定処理の追加
  src/main/java/ckn/yakitori/share/yaku/toitoiho.java
  src/test/java/ckn/yakitori/share/yaku/toitoihoTest.java
Owners: @M-Reiji, @tak-st

三色同順の役判定処理の追加
  src/main/java/ckn/yakitori/share/yaku/sanshokudoujun.java
  src/test/java/ckn/yakitori/share/yaku/sanshokudoujunTest.java
Owners: @M-Reiji, @tak-st

七対子の役判定処理の追加
  src/main/java/ckn/yakitori/share/yaku/chitoitsu.java
  src/test/java/ckn/yakitori/share/yaku/chitoitsuTest.java
Owners: @M-Reiji, @tak-st

対々和に一部必要のないメソッドがあったので修正
  src/main/java/ckn/yakitori/share/yaku/toitoiho.java
  src/test/java/ckn/yakitori/share/yaku/toitoihoTest.java
Owners: @M-Reiji, @tak-st

一気通貫の役判定の追加
  src/main/java/ckn/yakitori/share/yaku/ikkitsukan.java
  src/test/java/ckn/yakitori/share/yaku/ikkitsukanTest.java
Owners: @M-Reiji, @tak-st

清一色の役判定処理の追加
  src/main/java/ckn/yakitori/share/yaku/chinitsu.java
  src/test/java/ckn/yakitori/share/yaku/chinitsuTest.java
Owners: @M-Reiji, @tak-st

混全帯么九の役判定処理の追加
  src/main/java/ckn/yakitori/share/yaku/cyanta.java
  src/test/java/ckn/yakitori/share/yaku/cyantaTest.java
Owners: @M-Reiji, @tak-st

三暗刻の役判定処理の追加
  src/main/java/ckn/yakitori/share/yaku/sananko.java
  src/test/java/ckn/yakitori/share/yaku/sanankoTest.java
Owners: @M-Reiji, @tak-st

河底撈魚役判定処理の追加
  src/main/java/ckn/yakitori/share/yaku/houtei.java
  src/test/java/ckn/yakitori/share/yaku/houteiTest.java
Owners: @M-Reiji, @tak-st

.github/CODEOWNERS:

*       @tak-st
src/main/java/ckn/yakitori/server/mountain.java       @Toyoda9
src/test/java/ckn/yakitori/server/mountainTest.java       @Toyoda9
src/main/java/ckn/yakitori/server/deadTile.java       @Toyoda9
src/test/java/ckn/yakitori/server/deadTileTest.java       @Toyoda9
src/main/java/ckn/yakitori/share/discard/discardTile.java       @nakafuji-m
src/test/java/ckn/yakitori/share/discard/discardTileTest.java       @nakafuji-m
src/main/java/ckn/yakitori/share/discard/discardArea.java       @nakafuji-m
src/test/java/ckn/yakitori/share/discard/discardAreaTest.java       @nakafuji-m
src/main/java/ckn/yakitori/share/rule.java       @nakafuji-m
src/test/java/ckn/yakitori/share/ruleTest.java       @nakafuji-m
src/main/java/ckn/yakitori/share/player.java       @nakafuji-m
src/test/java/ckn/yakitori/share/playerTest.java       @nakafuji-m
src/main/java/ckn/yakitori/share/yaku/       @M-Reiji
src/main/resources/tileSet/sumida/       @kamatamaudon3
src/main/resources/tileSet/sumida/red/       @ecccomp123
*.fxml       @Toyoda9
